body{
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1,h3{
    text-align: center; 
    font-weight: 200px;
    
}



p{
     color: white;
     text-align: center;
     font-size: 20px;
}

#m{
    color: yellow;
  }
  #a{
    color: green;
  }
  #g{
    color: gold;
  }
  #i{
    color: brown;
  }
  #title1{
    width: 300px;
  }
  #love{
    font-size: 50px;
  }
  #icon{
    animation: cubic-bezier(bounce 5s infinite);
  }


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#choose{
    background-color:red;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    float: left;
    margin-left: 500px;
    height: auto;
}


   


#deliver{

  background-color: red;
  cursor: pointer;
  border:none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#order{
    background-color:yellow;
    cursor: pointer;
    border:none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;  
}
