
body{
    background: url(../image/pizza.jpeg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
}
h1,h3{
    text-align: center; 
    font-weight: 200px;
    
}



p{
     color: white;
     text-align: center;
     font-size: 20px;
}

#m{
    color: yellow;
  }
  #a{
    color: green;
  }
  #g{
    color: gold;
  }
  #i{
    color: brown;
  }
  #title1{
    width: 300px;
  }
  #love{
    font-size: 50px;
  }
  #mojjo {
      color: white;
  }
  #icon{
    animation: cubic-bezier(bounce 5s infinite);
  }


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p {
    color:white;
    font-weight: bolder;
    background: rgb(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 32%;
    border-radius: 15px;
}

#choose{
    background: rgb(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    float: left;
    margin-left: 500px;
    height: auto;
    color: white;
}

#legend {
    background: rgba(44, 130, 201, 0.9);
    width: 350px;
    height: 520px;
    color: white;
    text-align: center;
    border-radius:15px ;
}
 
#sizes,#crusts,#toppings1,#numberOfPizzas,#total,#location,
#sizes1,#crusts1,#toppings1,#numberOfPizzas1{
    
    border: none;
    border-radius: 10px;
    width: 220px;
    height: 30px;
}


#sizes,#crusts,#toppings,#numberOfPizzas,#total,#location,
#sizes1,#crusts1,#toppings1,#numberOfPizzas1:hover {
    border: none;
    border-radius: 10px;
    width: 220px;
    height: 30px;
}

#deliver{

  
  cursor: pointer;
  border:none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#order{
    background-color:yellow;
    cursor: pointer;
    border:none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;  
}

.delivery {
    
    margin-left: 40%;
    margin-top: -300px;
   
}

#contacts{
    margin-top: 15%;
  background-color:black;
    text-align: center;
    color: white;
    font-size: 24px;
    height: 100vh;
  
}
#name{
    background: none;
    width: 25%;
    outline: 0;
    padding: 10px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
  }
  #email{
    background: none;
    width: 25%;
    outline: 0;
    padding: 10px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
  }
  #message{
    background: none;
    width: 52%;
    outline: 0;
    margin-top: 2.5%;
    border: 1px solid white;
    padding-bottom: 15%;
    color: white;
    font-size: 18px;
  }