*{
    background-color:greenyellow;
}
h1,h3,p{
    text-align: center;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#order{
    background-color: red;
    
    border: 2px solid black;
   
}

#deliver{
    background-color: red;
    
    border: 2px solid black;
}
